<a href="https://colab.research.google.com/github/rishisaini1223/pyhton_codes/blob/main/list_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# largeset word of the lsit.
li = ['this','is','a','sentence']
max = li[0]
for word in li:
  if len(max) < len(word):
    max =len(word)
print(max,word)

8 sentence

In [ ]:
# product of all digits except the selfdigit

li = [1,2,3,4]
mul = []

for i in range(len(li)):
  k = 1
  for j in range(len(li)):
    k *=li[j]

  mul.append(k//li[i])
print(mul)

[24, 12, 8, 6]

In [ ]:
# rotate list by k
li = [1,2,3,4,5,6,7]
k = 2
# step1 - reverse whole list
left = 0
right = len(li)-1
while left < right:
  li[left],li[right] = li[right],li[left]
  left += 1
  right -=1
print(li)
#step 2
left = 0
right= k-1
while left < right:
  li[left],li[right] = li[right],li[left]
  left += 1
  right -=1
print(li)

# step3
left = k
right = len(li) - 1
while left<right :
  li[left],li[right] = li[right],li[left]
  left += 1
  right -=1
print(li)

[7, 6, 5, 4, 3, 2, 1]
[6, 7, 5, 4, 3, 2, 1]
[6, 7, 1, 2, 3, 4, 5]

In [ ]:
# find  mmissing value
li = [1,2,3,5]
sum = 0
for i in range(1, 5+1):
  sum+=i
  li_sum = 0
for num in li:
  li_sum +=num
  missing = sum - li_sum
print(missing)

4

In [ ]:
# remove duplicates from the list
li = [1,2,3,3,4]
unique_li =  []
for num in li:
  if num not in unique_li:
    unique_li.append(num)
print(unique_li)

[1, 2, 3, 4]

In [ ]:
#### list matrix

In [ ]:
# find the element which exist into the 2nd list
li = [[1,2,3],[4,5,6],[7,8,9]]

# 7 -> index
for i in range(len(li)):
  for j in range(len(li[i])):
    if li[i][j] == 7:
      print(i,j)

2 0

In [ ]:
# print the sum of all the elements
li = [[1,2,3],[4,5,6],[7,8,9]]
sum = 0
for i in range(len(li)):
  for j in range(len(li[i])):
    sum+=li[i][j]
print(sum)

45

In [ ]:
# find the largest element into the 2d list
li = [[1,2,3],[4,5,64],[7,8,9]]
large = 0
for i in range(len(li)):
  for j in range(len(li[i])):
    if li[i][j]>large:
      large=li[i][j]
print(large)

64

In [ ]:
# flat the 2d list into 1d list
li = [[1,2,3],[4,5,6],[7,8,9]]
new_li =[]
for i in range(len(li)):
  for j in range(len(li[i])):
    new_li.append(li[i][j])

print(new_li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flatten_li =[]
for i in range(len(li)):
  flatten_li.extend(li[i])
print(flatten_li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# seperate out the odd numbers and the even numbers from the 2d list
even_num =[]
odd_num =[]
for i in range(len(li)):
  for j in range(len(li[i])):
    if li[i][j]%2==0:
      even_num.append(li[i][j])
    else:
      odd_num.append(li[i][j])
print(even_num)
print(odd_num)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
# print diagonal elements
li = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(li)):
  print(li[i][i])

1
5
9

In [ ]:
# reverse each row of the matrix or 2d list
li = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(li)):
  li[i] = li[i][::-1]
print(li)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
# print the largest of the each row
li = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(li)):
  print(max(li[i]))

3
6
9

In [ ]:
# print thesum of  largest of the each row
li = [[1,2,3],[4,5,6],[7,8,9]]
sum =0
for i in range(len(li)):
  for j in range(len(li[i])):
  sum +=int(max(li[i]))
print(sum)

3
6
9
18

In [ ]:
# print thesum of  largest of the each column
li = [[1,2,3],[4,5,6],[7,8,9]]
sum =0
for i in range(len(li)):
  max = 0
  for j in range(len(li[i])):
    if li[j][i]> max:
      max = li[j][i]
  print(max)
  sum+=max
print(sum)

7
8
9
24

In [ ]:
# transpose of matrix
li = [[1,2,3],[4,5,6],[7,8,9]]
li1 = [[],[],[]]
for i in range(len(li)):
  for j in range(len(li[i])):
    li1[i].append(li[j][i])
print(li1)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]